# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.env
*.log

# ============================
# AWS SAM / Lambda build artifacts
# ============================
.aws-sam/
.build/
package/
dist/
build/
*.zip

# ============================
# Local test files
# ============================
event.json
item.json

# ============================
# Test / Coverage
# ============================
.pytest_cache/
.coverage
htmlcov/

# ============================
# IDE / Editor
# ============================
.vscode/
.idea/

# ============================
# OS / Misc
# ============================
.DS_Store
Thumbs.db

# ============================
# Docker
# ============================
**/.dockerignore
docker-compose.override.yml

# ============================
# Local DynamoDB data
# ============================
dynamodb/data/
dynamodb/*.db